Repository SolCorporation/ColonyStation, pull requests merged in 2020-10, with the labels that each got.

#213 Multi z
  _maps/_basemap.dm
  code/__DEFINES/combat.dm
  code/__DEFINES/components.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/layers.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/obj_flags.dm
  code/_onclick/hud/plane_master.dm
  code/controllers/subsystem/throwing.dm
  code/game/atoms.dm
  code/game/mecha/mecha.dm
  code/game/objects/objs.dm
  code/game/objects/structures/lattice.dm
  code/game/objects/structures/stairs.dm
  code/game/turfs/openspace/openspace.dm
  code/game/turfs/turf.dm
  code/modules/atmospherics/environmental/LINDA_system.dm
  code/modules/atmospherics/multiz.dm
  code/modules/mapping/space_management/multiz_helpers.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_movement.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movement.dm
  code/modules/photography/camera/camera.dm
  code/modules/power/gravitygenerator.dm
  code/modules/power/multiz.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/recycling/disposal/multiz.dm
  colonystation.dme
  icons/obj/atmos.dmi
  icons/obj/atmospherics/pipes/disposal.dmi
  icons/obj/power.dmi
  icons/obj/stairs.dmi
Labels: Map Edit, Sprites

#251 Deltastation map-changes edit
  _maps/_basemap.dm
  _maps/colonystationdelta.dm
  _maps/colonystationdelta.json
  _maps/map_files/ColonyStationDelta/ColonyStationDelta.dmm
  colonystation.dme
Labels: Map Change, Map Edit, Merge Conflict

#272 New planet ruin: Monster Shrine
  _maps/RandomRuins/PlanetRuins/monster_shrine.dmm
  code/datums/ruins/colony.dm
Labels: Map Change, Map Edit

#343 Updating Map_Changes via Master
  _maps/RandomRuins/LavaRuins/miningbase.dmm
  code/__DEFINES/role_preferences.dm
  code/datums/mutations/_combined.dm
  code/game/gamemodes/wizard/raginmages.dm
  code/modules/atmospherics/machinery/components/unary_devices/tank.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/clothing/neck/skillcapes/skillcape_datums.dm
  code/modules/mob/living/simple_animal/parrot.dm
  html/changelogs/AutoChangeLog-pr-275.yml
  html/changelogs/AutoChangeLog-pr-276.yml
  html/changelogs/AutoChangeLog-pr-277.yml
  html/changelogs/AutoChangeLog-pr-278.yml
  html/changelogs/AutoChangeLog-pr-279.yml
  html/changelogs/AutoChangeLog-pr-280.yml
  icons/mob/screen_ghost.dmi
Labels: Map Change, Map Edit, Sprites

#339 Deltatstation maintenance additions
  _maps/map_files/ColonyStationDelta/ColonyStationDelta.dmm
Labels: Feature, Map Change, Map Edit

#274 Research outpost planetary ruin
  _maps/RandomRuins/PlanetRuins/researchoutpost.dmm
  code/datums/ruins/colony.dm
  code/game/area/areas/ruins/planet.dm
Labels: Map Change, Map Edit
